<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="save()">
      Salvar
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">

      <img src="../img/default_user.png" class="center img-profile" alt="">
      <button class="button button-positive button-small center margin-bottom10">
        Adicionar foto
      </button>

      <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="formData.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Data de nascimento" ng-focus="openDatePicker()" ng-model="formData.dt_birth_input">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Sexo
        </div>
        <select ng-model="formData.gender">
          <option value="m">Masculino</option>
          <option value="f">Feminino</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text"  ng-model="formData.cpf" ui-mask="999.999.999-99" placeholder="CPF" ui-mask-placeholder>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="formData.email">
      </label>

      <div class="item item-divider">
        Endereços
      </div>

      <div class="item item-text-wrap" ng-if="formData.arAddress" ng-repeat="item in formData.arAddress">
        <p>{{item.cep}} - {{item.address}} - {{item.complement}} - {{item.number}} - {{item.city}} - {{item.state}}</p>
      </div>

      <label class="item item-input">
        <input type="text" placeholder="CEP" ng-model="formData.address.cep" ui-mask="99.999-999" ui-mask-placeholder>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Endereço" ng-model="formData.address.address">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Complemento" ng-model="formData.address.complement">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Número" ng-model="formData.address.number">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Cidade" ng-model="formData.address.city">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Estado" ng-model="formData.address.state">
      </label>

      <div class="item" ng-click="addAddress()">
        <i class="icon ion-plus"></i> Adiconar endereço
      </div>

    </div>
  </ion-content>
</ion-view>
